<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab zui zui</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        #result {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Lab vui vui</h1>
    <div id="result"></div>
    <script>
        const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjIifQ.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwicm9sZSI6InVzZXIifQ._fz0OezSf4G_5rp2XUHE7SOSMgd8dbE8SamlMJJDtnU';
        // const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjIxMjMgb3Igc2VsZWN0IDEyMyJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwicm9sZSI6InVzZXIifQ.-U51e3UF4tUGPgTgEFvP0I5GcCO5MI0_HruRB1DP94s';

        fetch('/', {
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('result').textContent = data;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    </script>
</body>
</html>